<fieldset>
  <div class="toptitle"><%= t('.title')%></div>
</fieldset>
<div class="col-md-12">
	<div class="col-md-6">
		<div class="panel panel-default">
		<div class="panel-heading"><%= t('.details')%></div>
		<div class="panel-body">
			<% @order.line_items.each do |item| %>
			<div class="col-md-4" style="clear: both;">
				<div class="img-wrapper-thumb">
					<div class="imgbox">
						<%= image_tag item.picture.url %>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<table class="cart">
					<tr>
						<td><%= item.quantity %> &times; <%= item.picture.name %></td>
						<td class="price"><%= number_to_currency(item.total_price)%></td>
					</tr>


				</table>
					<div class="panel panel-default" style="margin-top: 10px;">

						<div class="panel-body">
							<div class="col-md-6"><%= t('.version')%>:</div><div class="col-md-6"><%= item.picture.version %></div>
							<div class="col-md-6"><%= t('.size')%>:</div><div class="col-md-6"><%= item.picture.size %></div>
						</div>
					</div>

			</div>
			<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-md-6"><strong><%= t('.name')%>:</strong></div><div class="col-md-6"><%= @order.name %></div>
				<div class="col-md-6"><strong><%= t('.adress')%>:</strong></div><div class="col-md-6"><%= @order.adress%></div>
				<div class="col-md-6"><strong><%= t('.email')%>:</strong></div><div class="col-md-6"><%= @order.email %></div>
				<div class="col-md-6"><strong><%= t('.pay_type')%>:</strong></div><div class="col-md-6"><%= @order.pay_type %></div>
				<div class="col-md-6"><strong><%= t('.total_price')%>:</strong></div><div class="col-md-6"><%= @order.total %></div>

			</div>
		</div>
	</div>
	<div class="col-md-12">
		<p><%= t('.paypalorder')%></p>
	</div>
</div>
