<fieldset>
	<div class="toptitle"><%= t('.title')%></div>
</fieldset>
<% post = Post.all.order("created_at DESC").last(1)  %>
<% post.each do |post| %>
 <div class="panel panel-default" >
 	<div class="panel-body">
 	 	<h3><%= post.title %></h3>
	 	<div class="post_text">
	 		<%= (post.content).html_safe%>
	 	</div>

 		<div class="post-button">
 			<%= button_to t('.buttons'), post_path(post.id),method: :get,class: "btn btn-primary" %>
 		</div>
 	</div>
 </div>
<% end %>
 <%= button_to t('.buttona'), posts_path, method: :get,class: "btn btn-primary" %>