<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<h3><%= @post.title%></h3>
			<%= (@post.content).html_safe%>

			<% bild = Array.new%>

			<% @post.post_images.each do |img| %>
				<% bild.push(img)%>
			<% end %>
			<% unless bild.empty? %>
				<% if bild.size > 1 %>
					<div class="bs-example">
					    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
					    	<!-- Carousel indicators -->
					        <ol class="carousel-indicators">
					        	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					        	<% num = bild.size - 1%>
									<% num.times do |i|%>
						            <li data-target="#myCarousel" data-slide-to="<% i %>"></li>
					            <% end %>
					        </ol>   
					       <!-- Wrapper for carousel items -->
					        <div class="carousel-inner">
					            <div class="active item">
					            <img src="<%= bild[0].image%>" style="display: block; margin-left: auto; margin-right: auto;">
					                <div class="carousel-caption">
					                  <h3><%= bild[0].name%></h3>
					                </div>
					            </div>
					            <% bild.shift(1) %>
					            <% bild.each do |bild| %>

							            <div class="item">
							            <img src="<%= bild.image%>" style="display: block;margin-left: auto; margin-right: auto;">
							                <div class="carousel-caption">
							                  <h3><%= bild.name%></h3>
							                </div>
							            </div>
		
					            <% end %>
					        </div>
					        <!-- Carousel controls -->
					        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
					            <span class="glyphicon glyphicon-chevron-left"></span>
					        </a>
					        <a class="carousel-control right" href="#myCarousel" data-slide="next">
					            <span class="glyphicon glyphicon-chevron-right"></span>
					        </a>
					    </div>
					</div>			
				</div>
				<% elsif bild.size = 1 %>
					<img src="<%= bild[0].image%>">
				<% end %>
			<% end %>
		   <div class="col-md-12">
			    <h5>Like this post? Share it!</h5> 
			    <%= social_share_button_tag(@post.title , :popup => "true") %>
			   </div>
</div>

