<header class="navbar navbar-default">
    <div class="col-md-3.5">
        <div class="logo">Ayako Kyodo</div>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-1">
        <div class="languages">
                    <%= link_to image_tag('flagge_grossbritannien.gif', size: "30x20"), change_locale_path(:en)%>
                    <%= link_to image_tag('flagge_deutschland.png', size: "30x20"), change_locale_path(:de)%>
                    <%= link_to image_tag('flagge_japan.jpg', size: "30x20")%>

        </div>
    </div>
    <div class="col-md-8.5" style="margin-bottom: 30px;">
        <div class="nav-wrapper">
            <nav>
                <ul>
                    <li><a href="<%= themes_path%>" accesskey="1" title=""><%= t('.home')%></a></li>
                    <li><a href="<%= posts_path %>" title=""><%= t('.blog')%></a></li>
                    <li><a href="<%= about_path%>" accesskey="2" title=""><%= t('.about')%></a></li>
                    <li><a href="<%= themes_path%>" accesskey="3" title=""><%= t('.gallery')%></a></li>
                    <li><a href="<%= shop_path %>" accesskey="4" title=""><%= t('.shop')%></a></li>
                    <li><a href="<%= contacts_path %>" accesskey="5" title=""><%= t('.contact')%></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
