<!DOCTYPE html>
<html>
<head>
  <title>AyakoArt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main-wrapper">
	<%= render "layouts/navigation" %>
	<div id="content">
		<div class="col-md-12" style="margin-bottom: 50px;">
			<div class="col-md-3">
				<%= render "statics/news" %> 	
			</div>
			<div class="col-md-9">
				<%= yield %>
			</div>
		</div>
	</div>
	
	<%= render "layouts/footer" %>
</div>


</body>
</html>
